---
layout: layouts/home.njk
navtitle: Reference List
---

<link rel="stylesheet" href="{{ '/references/references.css' | url }}" />
<div id="references-page">
{% renderTemplate "webc" %}
<hero-block class="transparent">
    <h1 slot="heading">Reference <br/>List</h1>
</hero-block>
<section class="references-section">
<div class="main-grid">
    <div class="reference-list bg-white">
        <ul>
            <li>Beattie, A. (2024). <i>Escape: The next digital divide.</i> The Disconnect. <a href="https://thedisconnect.co/one/escape-the-next-digital-divide">https://thedisconnect.co/one/escape-the-next-digital-divide</a></li>
            <li>Çelik, T. (2024, May 17). <i>The #IndieWeb is for everyone, everyone who wants to be part of the world-wide-web of interconnected people.</i> tantek.com. <a href="https://tantek.com/2024/026/t3/indieweb-for-everyone-internet-of-people">https://tantek.com/2024/026/t3/indieweb-for-everyone-internet-of-people</a></li>
            <li>Deceptive Patterns. (2023). <i>Deceptive Patterns – Home.</i> <a href="https://deceptive.design/">https://deceptive.design/</a></li>
            <li>IndieWeb. (2024). <i>Category:building-blocks – IndieWeb.</i> <a href="https://indieweb.org/wiki/index.php?title=Category:building-blocks&oldid=90231">https://indieweb.org/wiki/index.php?title=Category:building-blocks&oldid=90231</a></li>
            <li>IndieWeb. (2024). <i>IndieWeb.</i> <a href="https://indieweb.org/">https://indieweb.org/</a></li>
            <li>IndieWeb. (2024). <i>personal-domain.</i> IndieWeb. <a href="https://indieweb.org/personal-domain#domain_registrars">https://indieweb.org/personal-domain#domain_registrars</a></li>
            <li>IndieWeb. (2024). <i>POSSE.</i> <a href="https://indieweb.org/wiki/index.php?title=POSSE&oldid=95205">https://indieweb.org/wiki/index.php?title=POSSE&oldid=95205</a></li>
            <li>IndieWeb. (2024). <i>Principles.</i> <a href="https://indieweb.org/principles">https://indieweb.org/principles</a></li>
            <li>James. (2024). <i>Explore | James’ Coffee Blog.</i> <a href="https://jamesg.blog/explore">https://jamesg.blog/explore</a></li>
            <li>Joy, S. (2024). <i>sarajoy.dev.</i> <a href="https://sarajoy.dev/">https://sarajoy.dev/</a></li>
            <li>Markkula Center for Applied Ethics. (2015, March 11). <i>On personal data, forgiveness, and the right to be forgotten [Video].</i> YouTube. <a href="https://www.youtube.com/watch?v=jvtv-0sfvzQ">https://www.youtube.com/watch?v=jvtv-0sfvzQ</a></li>
            <li>Microformats Wiki. (2024, May 17). <i>About microformats.</i> <a href="https://microformats.org/wiki/about">https://microformats.org/wiki/about</a></li>
            <li>Mok, A. (2023, December 30). <i>AI Is Already Coming for Human Instagram Influencers.</i> Business Insider. <a href="https://www.businessinsider.com/ai-already-replacing-instagram-influencers-jobs-2023-12">https://www.businessinsider.com/ai-already-replacing-instagram-influencers-jobs-2023-12</a></li>
            <li>Name.com. (2018, July 24). <i>Own your online content with Indie Web.</i> YouTube. <a href="https://www.youtube.com/watch?v=dku4rffiicu&t=21s">https://www.youtube.com/watch?v=dku4rffiicu&t=21s</a></li>
            <li>Navarrete, M. S., Adrian, C., & Bachelet, V. C. (2022). <i>Respondent-driven sampling: Advantages and disadvantages from a sampling method.</i> Medwave, 21(01), e002528. <a href="https://doi.org/10.5867/medwave.2022.01.002528">https://doi.org/10.5867/medwave.2022.01.002528</a></li>
            <li>Padilla, A. (2024, May 17). <i>I spent a day with EX-SOCIAL MEDIA EMPLOYEES [Video].</i> YouTube. <a href="https://www.youtube.com/watch?v=tpsyouwuyba">https://www.youtube.com/watch?v=tpsyouwuyba</a></li>
            <li>Pang, W. (2024). <i>Home | Wing Pang.</i> <a href="https://wingpang.com">https://wingpang.com</a></li>
            <li>Raicu, I. (2018, August 29). <i>Do you own your data?</i> Markkula Center for Applied Ethics. <a href="https://www.scu.edu/ethics/privacy/do-you-own-your-data/">https://www.scu.edu/ethics/privacy/do-you-own-your-data/</a></li>
            <li>W3C. (2017). <i>W3C Recommendation 12 January 2017.</i> <a href="https://www.w3.org/TR/webmention/">https://www.w3.org/TR/webmention/</a></li>
            <li>Zuboff, S. (2020, January 24). <i>You are now remotely controlled.</i> The New York Times. <a href="https://www.nytimes.com/2020/01/24/opinion/sunday/surveillance-capitalism.html">https://www.nytimes.com/2020/01/24/opinion/sunday/surveillance-capitalism.html</a></li>
        </ul>
        
    </div>
</div>
</section>
{% endrenderTemplate %}
</div>