//Defaults
:root {
    color: $black;
    font-family: 'red-hat';
}
body {
    font-size: 1.25rem;
    text-wrap: pretty;
    transition: all, .3s;
    @include tablet {
        font-size: 1.25rem;
    }
    @include desktop {
        font-size: 1.5rem;
    }
    @include wide {
        font-size: 1.875rem;   
    }
    background: $lightest-grey;
    margin: 0;
}
h1 {
    font-family: 'neue-machina';
    font-weight: normal;
}
a {
    color: $black;
    text-decoration: underline $yellow;
    text-underline-offset: .2rem;
}
.main-grid {
    @include main-grid();
}