//Font imports
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-Light.woff2') format( 'woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-Regular.woff2') format( 'woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-RegularItalic.woff2') format( 'woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-Medium.woff2') format( 'woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-MediumItalic.woff2') format( 'woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'neue-machina';
    src: url('../../assets/fonts/PPNeueMachina-Ultrabold.woff2') format( 'woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'red-hat-display';
    src: url('../../assets/fonts/RedHatDisplay.ttf') format('truetype');
}
@font-face {
    font-family: 'red-hat-display';
    src: url('../../assets/fonts/RedHatDisplay-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'red-hat-mono';
    src: url('../../assets/fonts/RedHatMono.ttf') format('truetype');
}
@font-face {
    font-family: 'red-hat-mono';
    src: url('../../assets/fonts/RedHatMono-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'red-hat-mono';
    src: url('../../assets/fonts/RedHatMono.ttf') format('truetype');
}
@font-face {
    font-family: 'red-hat';
    src: url('../../assets/fonts/RedHatText.ttf') format('truetype');
}
@font-face {
    font-family: 'red-hat';
    src: url('../../assets/fonts/RedHatText-Italic.ttf') format('truetype');
    font-style: italic;
}