@import '../stylesheets/global/mixins';

#research-page {
    @include page-base;
    section {
        display: flex;
    }
    hero-block {
        position: relative;
        .hero-block__heading {
            z-index: 1;
            grid-row: 1;
        }
        object {
            position: relative;
            z-index: 0;
            grid-column: 8/12;
            grid-row: 1;
            max-width: 100%;
            align-self: flex-end;
        }
    }
    > section:last-of-type {
        &::before {
            background: none;
        }
    }
    .title-block {
        grid-column: 2/12;
        text-align: center;
    }
    half-half {
        gap: 4rem;
        p:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }
    }
    .research-survey-design {
        display: flex;
        h2, .first, link-button {
            grid-column: 2/12;
        }
    }
    .research-paragraph-section, .research-conclusion-section {
        paragraph-block {
            justify-self: center;
            grid-column: 2/12;
            p:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }
    }
    .on-social-media {
        half-half {
            gap: 1rem;
        }
    }

    @include tablet {
        .title-block {
            h2 {
                margin-bottom: -.8rem;
            }
            display: flex;
            flex-direction: row;
            align-items: end;
            gap: 2rem;
        }
        .research-survey-design {
            h2 {
                justify-self: center;
            }
            .first {
                grid-column: 2/7;
            } 
            link-button {
                grid-column: 8/12;
                align-self: center;
            }
        }
        .on-social-media {
            half-half {
                gap: 2rem;
                .first {
                    max-width: 32ch;
                }
            }
            big-quote {
                gap: 1rem;
            }
            
        }
    }
    @include desktop {
        min-height: calc(60dvh - 3.0333333333rem);
        
    }
    @include wide {
        .first {
            h2 {
                white-space: nowrap;
            }
        }
        big-quote {
            margin-top: 3rem;
        }
    }
}