<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/webmentions.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/stylesheets/global/global.css' | url }}">
    <link rel="pingback" href="https://webmention.io/{{ metadata.domain }}/xmlrpc">
    <link rel="webmention" href="https://webmention.io/{{ metadata.domain }}/webmention">
    <a href="https://github.com/wingywing" rel="me">Wing on Github</a>
  </head>
  <body>
    {% renderTemplate "webc" %}
      <site-header></site-header>
    {% endrenderTemplate %}
    <main>
      <div class="main-grid">

        {% renderTemplate "webc" %}
        <link-button class="red" href="/">
          <p slot="text"> Test </p>
        </link-button>
      {% endrenderTemplate %}

        {{ content | safe }}
      </div>
    </main>
    {% renderTemplate "webc" %}
      <site-footer></site-footer>
    {% endrenderTemplate %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
