---
layout: layouts/base.njk
title: About this site
---

<link rel="stylesheet" href="{{ '/about/about.css' | url }}" />

<div id="about-page">
  <div class="main-grid">
    <object class="bg-image" type="image/svg+xml" data="../assets/img/about-page-graphic.svg" >
    </object>
    <h1>About this site</h1>
    <p>
      This website was created by Wing Pang with the aim of
      <b>making the IndieWeb more accessible</b> to a broader
      audience—especially to those who aren't familiar with code.
    </p>
    <p>
      Coming from a design background, joining the IndieWeb was an incredibly
      exciting and rewarding, yet maze-like journey. To be honest, almost every
      step of the way was like a leap! But I've learnt so much and got a lot of
      feedback throughout this process from the passionate and friendly
      community.
    </p>
    <ul>
      <li>Finding out about IndieWeb</li>
      <li>Learning more and understanding IndieWeb</li>
      <li>Creating my own website</li>
      <li>
        Setting up Microformats and Webmentions (to interact with other IndieWeb
        sites)
      </li>
    </ul>
    <p>
      That journey took me almost a whole year—but it certainly doesn't have to
      be that way for everyone (you can do it in less than half an hour!).
    </p>
    <p>
      <b>
        Everyone deserves to own their own content, be connected with authentic
        people, and have control over what they show and are shown.</b
      >
    </p>
    <p>This guide aims to help you do just that, and to make it easy.</p>
  </div>
</div>
