---
layout: layouts/home.njk
navtitle: Home
---

<div id="home-page">
      {% renderTemplate "webc" %}
        <section class="home-page-hero">
          <hero-block class="bg-white home-page__hero-block">
            <object type="image/svg+xml" data="./assets/img/home-page-logo.svg" slot="heading">
            <h1>An indie guide to the IndieWeb</h1>
            <span>Build your home on the internet</span>
            </object>
            <object type="image/svg+xml" data="./assets/img/home-page-graphic.svg" slot="bg-image">
            </object>
        </hero-block>
        </section>

        <section class="home-page-quote">
          <half-half class="transparent">
            <big-quote slot="first" class="home">
              <p slot="quote">
                A <span class="text-orange">people-focused</span> alternative to the “corporate web”.
              </p>
              <span class="attribution" slot="attribution">
                (<a href="https://www.indieweb.org">IndieWeb</a>, 2024 )
              </span>
            </big-quote>
            <popup-media slot="second">
              <p slot="attribution">(<a href="https://www.youtube.com/watch?v=Yw5j9ScCs3k">IndieWebCamp</a>, 2018)</p>
              <iframe slot="media" src="https://www.youtube-nocookie.com/embed/Yw5j9ScCs3k?si=r-OBxEJWC_aasoX3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </popup-media>
          </half-half>
        </section>

        <section class="home-page-links">
          <div class="main-grid">
          <div class="home-page__link-grid">
            <div class="row-one">
              <link-button class="bg-white orange" href="/about">
                <p slot="text">About this site</p>
              </link-button>
              <link-button class="bg-white yellow" href="/what-is-indieweb">
                <p slot="text">What is IndieWeb?</p>
              </link-button>
              <link-button class="bg-white red" href="/building-blocks">
                <p slot="text">Building blocks</p>
              </link-button>
            </div>
            <div class="row-two">
              <div class="left">
                <join-button></join-button>
              </div>
              <div class="right">
                <link-button class="bg-white yellow" href="/all-are-welcome">
                  <p slot="text"><span class="underline">All</span> are welcome!</p>
                </link-button>
                <link-button class="bg-white red" href="/critique">
                  <p slot="text">Critique of current social media</p>
                </link-button>
                <link-button class="bg-white yellow" href="/fun">
                  <p slot="text">Bring back a <span class="underline">fun</span> interweb</p>
                </link-button>
              </div>
            </div>
            <div class="row-three">
              <link-button class="bg-white orange" href="/research">
                <p slot="text">Research methodology and results</p>
              </link-button>
              <link-button class="bg-white red" href="/references">
                <p slot="text">Reference list</p>
            </link-button>
            </div>
          </div>
        </div>
        </section>
        {% endrenderTemplate %}
        {# {%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
        {%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
        <div class="webmentions" id="webmentions">
          <h3>Webmentions</h3>
        
          {% if mentions | length %}
            <div class="webmentions__facepile">
              {% for webmention in mentions | reverse | head(5) %}
                <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
              {% endfor %}
              {% if mentions.length > 5 %}
                <span>+{{ mentions.length - 5 }}</span>
              {% endif %}
            </div>
        
            <ol class="webmentions__list">
              {% for webmention in mentions | reverse %}
                <li class="webmentions__item">
                  {% include 'webmention.njk' %}
                </li>
              {% endfor %}
            </ol>
        
          {% else %}
            <p>No mentions yet.</p>
          {% endif %}
        </div> #}
        
        {# <popup-media href="#">
          <p slot="attribution">Test</p>
          <img src="../../assets/img/Oglington.gif" alt="" slot="media">
        </popup-media>

        <join-button>
        </join-button>
        <big-quote>
          <p slot="quote">
            “Decentralised media gives you a way to really connect with people with shared interests, and [...] the opportunity to think and choose what you want, where you want to be, and who you want to connect with.”
          </p>
          <span slot="attribution">
            Kiara Jouhanneau, a survey participant who's a part of the IndieWeb
          </span>
        </big-quote>
        <link-button class="bg-yellow" href="#">
          <p slot="text">Getting your own domain</p>
        </link-button>
        <paragraph-block class="transparent">
          <p slot="paragraph">The IndieWeb is designed to be modular in nature. It is connected through reusable building blocks of code that can work across different website and apps.
            These are pieces of code that help to facilitate interactions and connect websites to one another. This page will give a general sense of what some common building blocks are, but if you’re a developer, feel free to read more about it on the IndieWeb wiki (IndieWeb, 2024)!</p>
        </paragraph-block> #}

</div>
